@import './InfoGlobal.css';

.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 360px;
    height: 600px;
    padding: 0 20px 25px 20px;
}

.mainSecondary {  
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    flex-grow: 1;
    width: 360px;
    padding: 0 20px 25px 20px;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 100%;
    background-color: lightcoral;
}

.navFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 62px;
    width: 360px;
    border-top: 1px solid gainsboro;
}

.footerButton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.logoImg {
    width: 114px;
    margin-left: 16px;
}

.svgIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
}

.summaryIcon {
    fill: #a9a9a9;
}

.limitIcon {
    padding-top: 3px;
    fill: #a9a9a9;
}

.reportIcon {
    fill: #a9a9a9;
}