@import './InfoGlobal.css';

.purchasesContainer {
    display: flex;
    flex-direction: column;
    /* height: 379px; */
    width: 100%;
    overflow-y: overlay;
}

*::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: lightslategray;
    border-radius: 10px;
  }

.dayHeader {
    display: flex;
    width: 100%;
    height: 27px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3px;
}

.headerText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}

/* .amountText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
} */

.transactionContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 15px;
    align-items: center;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 0 7px 7px;
    margin-bottom: 20px;
}

.transactionListing {
    display: flex;
    border-radius: 5px;
    height: 75px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.transactionImg {
    background-color: white;
    border-radius: 5px;
    height: 57px;
    margin: 0 9px 0 9px;
}

.transactionTitle {
    display: flex;
    flex-grow: 3;
    justify-content: flex-start !important;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.75);    
    overflow: hidden;
    text-overflow: ellipsis;
    height: 65px;
}

.transactionAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 9px 0 9px;
}

.no-items-banner {
    display: flex;
    justify-content: center;
    padding: 11px;
    font-size: 16px;
}
