@import './InfoGlobal.css';

.purchasesContainer {
    display: flex;
    flex-direction: column;
    height: 379px;
    width: 360px;
    overflow-y: overlay;
}

*::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: lightslategray;
    border-radius: 10px;
  }

.dayHeader {
    display: flex;
    width: 360px;
    height: 27px;
    justify-content: space-between;
    align-items: center;
    background-color: #328FF8;
}

.dateText {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: 11px;
    color: white;
    font-weight: bold;
}

.amountText {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-right: 11px;
    color: white;
    font-weight: bold;
}

.transactionContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 360px;
    padding-bottom: 15px;
    align-items: center;
}

.transactionListing {
    display: flex;
    border-radius: 5px;
    width: 338px;
    height: 75px;
    margin-top: 11px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.transactionImg {
    background-color: white;
    border-radius: 5px;
    height: 57px;
    margin: 0 9px 0 9px;
}

.transactionTitle {
    display: flex;
    flex-grow: 3;
    justify-content: flex-start !important;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 65px;
}

.transactionAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 9px 0 9px;
}

.no-items-banner {
    display: flex;
    justify-content: center;
    padding: 11px;
    font-size: 16px;
}
