@import "Global.css";


.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75);
}

.subTitle {
    margin-bottom: 35px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
}

.input { 
    background-color: rgba(255,255,255, 0.2);
    color: black;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    height: 25px;
    padding: 0px 5px;
}

.inputs {
    display: flex;
    flex-direction: column;    
}

.inputLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: black;
    margin-top: 24px;
    margin-bottom: 5px;
}

.firstNameInput {
    border-radius: 5px 5px 0 0 !important;
}

.lastNameInput {
    border-radius: 0 0 5px 5px !important;
    margin-bottom: 20px;
}

.emailInput {
    border-radius: 5px !important;
    margin-bottom: 8px;
}

.passwordInput {
    border-radius: 5px !important;
}

.limitInput {
    border-radius: 5px !important;
    margin-bottom: 20px;
}


.emailSubText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 25px;
}

