@import "Global.css";

.titles {
    display: flex;
    flex-direction: column;
}

.mainImg {
    width: 90%;
    height: 90%;
}

.mainImgContainer {  
    display: flex;
    margin-top: 55px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.titleText {
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;    
    color: rgba(0, 0, 0, 0.75);
}

.subText {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
}

